# PR のタイトルが Conventional Commits の仕様に適合しているかどうかをチェックする

name: PR Title Lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - edited

jobs:
  main:
    name: Validate PR Title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
